<div class="container coasters-index">

  <a href="/coasters/new" class="btn btn-dark">Crear nueva montaña rusa</a>

  <h1 style="font-weight: 100">Índice de montañas rusas</h1>
{{#each allCoaster}}
  <hr>
  <a href="#" class="btn btn-sm btn-dark">Ver detalles</a>
  <h4>{{this.name}}</h4>
  <p>{{this.description}}</p>
  <small><strong>Longitud: </strong> {{this.length}} | <strong>Inversiones: </strong> {{this.inversions}} | <strong>Parque: </strong> {{park.name}}</small>
  <hr>
{{/each}}


</div>